*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	/*font-family:arial;*/
	font-family: arial,sans-serif;
	font-size:14px;
}
body,html{
	height:100%;
}
body{
	background:#eee;
	display:grid;
	grid-template-columns: 100px 2fr 500px;
}
nav{
	color:white;
	/*background:#10A7E3;*/
	/*background:#1064E3;*/
	background:#0B9965;
	color:white;
	height:100%;
}
nav header{
	padding:20px;
	background:#044716;
	text-align:center;
}
nav ul{
	padding:20px;
	text-align:center;
}
nav ul li{
	list-style:none;
	margin:10px 0;
	
}
nav ul li a:hover{
	color: yellow;	
}
nav a{
	text-decoration:none;
	color:white;
}
main,aside{
	padding:10px;	
}
aside{
	background:#eee;
}
.divCotainer{
	background:white;
	
	height:100%;
	padding:20px;
}
.divContainerAside{
	padding:20px;
	height:100%;
	background:white;
}
#formCadProd{
	
}
#formCadProd div, #formComanda div{
	display:inline-block;
}
#divPreco{
	width:80px;
}
#divDescricao{
	width:320px;
}
#formCadProd input[type=text],#formComanda div input[type=text]{
	width:100%;
	border: 2px solid #cecece;
	border-radius: 5px;
	padding:4px;
}
#formCadProd button, #formComanda button{
	padding:4px 10px;
	border:2px solid  #cecece;
	border-radius: 5px;
}
#formCadProd button:hover,#formComanda button:hover {
	cursor:pointer;
	background:#0B9965;
	border:2px solid  #0B9965;
	color:white;
}
#divTable{
	margin-top:50px;
	font-size:10px;
}
.containerTable{
	height:400px;
	overflow:auto;
	
}
#divTable table{
	width:100%;
	border-collapse:collapse;
	
}
#divTable table tr th{
	padding:5px;
	background:white;
	color:black;
}
#divTable table tr th:hover{
	background:white;
	color:black;
}
#divTable table tr td{
	padding:2px;
	border-bottom:1px solid #cecece;
}
#divTable table tr:hover{
	background:#0B9965;
	color:white;
}

.alignCenter{text-align:center;}
.alignLeft{text-align:left;}
.alignRight{text-align:right;}
.div-h2{
	width:100%;
		border-bottom:3px solid #0B9965;
	/*border-bottom:2px solid black;*/
	font-size:18px;
	margin-bottom:5px;
}

.div-h2 h2{
	background:#0B9965;
	/*background:black;*/
	text-shadow: 1px 1px 2px black;
	/*margin-left:20px;*/
	color:white;
	width:200px;
	padding: 5px 20px;
	border-radius:  10px   10px 0 0;
}
.div-h2 a{
	display:inline-block;
	text-decoration:none;
}
.divMsg{
	/*padding:5px;*/
	margin-bottom:10px;
}
.bg-red{
	background:red;
	
}
.bg-blue{background:#5ECEE6;}
.color-blue{color:#3539E6;}
.color-red{color:red;}

.boxComanda{
	font-weight:bold;
	background:#F78B5E;
	width:115px;
	height:100px;
	margin:5px;
	text-align:center;
	padding:10px;
}

.boxComanda:hover{
	background:#FA7E01;
	cursor:pointer;
}
.divContainerBoxComandas{
	display:grid;
	grid-template-columns: repeat(5, 1fr);
}
.divContainerBoxComandas a{
	text-decoration:none;
	color:black;
}
