*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family:arial;
}
body,html{
	background:#eee;
	height:100%;
	display:grid;
	grid-template-columns: 2fr 3fr;
}
nav{
	color:white;
	/*background:#10A7E3;*/
	/*background:#1064E3;*/
	background:#0B9965;
	color:white;
	height:100%;
	padding:20px;
	width:100%;
}
nav ul li{
	list-style:none;
	margin:10px 0;
}
nav a{
	text-decoration:none;
	color:white;
}
main{
	padding:10px;
	/*background:blue;*/
	
}
.divComandas{
	background:white;
	width:800px;
	height:98%;
	padding:20px;
}
#formCadProd{
	font-size:12px;
}
#formCadProd div{
	display:inline-block;
}
#divPreco{
	width:80px;
}
#divDescricao{
	width:320px;
}
#formCadProd input[type=text]{
	width:100%;
	border: 2px solid #cecece;
	border-radius: 5px;
	padding:4px;
}
#formCadProd button{
	padding:4px 10px;
	border:2px solid  #cecece;
	border-radius: 5px;
}
#formCadProd button:hover{
	cursor:pointer;
	background:#0B9965;
	border:2px solid  #0B9965;
	color:white;
}